<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854485873054-bbiaseo6mhida21uqbd63m9ivc56t2h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854485873054-bbiaseo6mhida21uqbd63m9ivc56t2h0</string>
	<key>API_KEY</key>
	<string>AIzaSyAMe6jnGIXpO5GQ1C3s50p62bXea87LHHc</string>
	<key>GCM_SENDER_ID</key>
	<string>854485873054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Ciellie</string>
	<key>PROJECT_ID</key>
	<string>ciellie</string>
	<key>STORAGE_BUCKET</key>
	<string>ciellie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854485873054:ios:b6462df55ab343361d268f</string>
	<key>DATABASE_URL</key>
	<string>https://ciellie-default-rtdb.firebaseio.com</string>
</dict>
</plist>